<div class="home-page">
  <p>
    Cette page vise à répondre au <u>projet 7 qui est un "point d'étapes"</u> par rapport aux 5 projets techniques
    précédents
    et au fait d'appréhender les projets à venir.
  </p>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 1 : Objectifs et planification des projets
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          Le projet 1 était un projet organisationnel dont le but était d'avoir une vision globale des projets à
          réaliser, de réaliser un planning prévisionnel, et aussi d'indiquer <u>ses propres objectifs</u>.
        </p>
        <p>
          J'avais dès le départ indiqué un objectif personnel clair :</p>
        <p>
          Ma passion et mon métier, ce sont la technique et les bonnes pratiques. <br>
          Les 5 projets techniques étaient par conséquent ma priorité.<br>
          C'était pour moi la possibilité d'acquérir le maximum d'expérience.<br>
          Sur chaque projet technique, je suis allé bien au-delà des requis d'OpenClassrooms.<br>
          Les projets ne sont pas gros mais suffisamment bien pensés pour être assez complets en terme de ce qu'il faut
          mettre en oeuvre.<br>
          Sur certains projets comme le P6, on a eu le choix des technologies dans le respect des besoins du client ...
          et là j'ai pu faire le top du top !
        </p>
        <p>
          Les projets "plus documentaires" sont sur des sujets que je connais déjà de par mon expérience
          professionnelle.<br>
          J'ai décidé d'y consacré moins de temps, même si je suis toujours intéressé par découvrir des pratiques et des
          outils.
        </p>
        <p>
          En objectif technique, je voulais être capable du faire de l'asynchrone sur la totalité de
          l'architecture (du frontend jusqu'au backend ET la base de données) alors que beaucoup aujourd'hui se contente
          de le faire uniquement côté frontend.<br>
        </p>
        <p>
          Mon deuxième mentor a su comprendre mes motivations et m'encourager.
        </p>
        <p>
          Les mois précédents, j'avais commencé à étudier les excellentes formation Udemy de John Thompson pour m'ouvrir
          rapidement et concrètement l'esprit sur l'ensemble de l'éco-système de Spring.<br>
          Il y a beaucoup de formations intéressantes (IA, sécurité, voir onglet <b>Formations UDEMY</b>...) mais citons
          en particulier celle concernant
          <a href="https://www.udemy.com/course/spring-framework-6-beginner-to-guru/" target="_blank">Spring 6</a>.<br>
          Cette formation permet d'avoir une bonne vision comparative des modules de Spring. Les capacités de Spring
          WebFlux et de R2DBC m'ont tout de suite interpellées.<br>
          Après des recherches, j'ai trouvé cet <a
          href="https://technology.amis.nl/software-development/performance-and-tuning/spring-blocking-vs-non-blocking-r2dbc-vs-jdbc-and-webflux-vs-web-mvc/"
          target="_blank">excellent
          benchmark comparatif :</a>
          qui m'a convaincu que c'était la technologie à approfondir.
        </p>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 2 : Frontend Angular v18 (avec starter code classique basé sur des ngModules)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          Ce projet est un frontend (avec un backend minimaliste) devant respecter scrupuleusement des maquettes d'écran
          responsive (mobile et desktop) que voici :
          <a
            href="https://course.oc-static.com/projects/D%C3%A9v_Full-Stack/D%C3%A9veloppez+le+front-end+en+utilisant+Angular/P2_Wireframes.pdf"
            target="_blank">maquettes</a>
        </p>
        <p>
          Il fallait avoir une démarche de choix et d'intégration d'une librairie de gestion de graphes.<br>
        </p>
        <p>
          Le dépôt git, son README, ainsi que la compodoc permettent de voir les bonnes pratiques appliquées.<br>
          <a href="https://ocrp2.cpierres.dscloud.me/" target="_blank">Application </a><br>
          <a
            href="https://github.com/cpierres/Opencr-Projet02-Angular" target="_blank">Dépôt github</a><br>
          <a
            href="https://cpierres.github.io/Opencr-Projet02-Angular/" target="_blank">Compodoc complète</a>
          diffusée sur github.
          <br>
          <a href="/assets/pdf/P2-pres-15mn.pdf" target="_blank">Slide de soutenance (15 mn)</a>
        </p>
        <p>
          Il s'agissait d'utiliser Angular en partant d'un starter code avec des paradigmes "anciens" (ngModules) mais
          avec une version d'Angular migrée en v18.<br>
          Cela m'a permis de me mettre dans le moule d'une organisation de développement habituelle/classique que l'on
          trouve encore beaucoup dans les développements du marché, tout en goûtant aux apports de la nouvelle version
          (standalone components).<br>
          Angular m'a rapidement démontré sa capacité à bien gérer l'asynchronisme et la programmation réactive avec
          RxJS.<br>
          Je suis allé plus loin que ce qui était demandé pour ce projet, car mon objectif n'était pas simplement de
          terminer un projet "fonctionnel",
          mais de mettre en oeuvre les meilleures pratiques et de structurer le projet de telle manière qu'il soit
          <u>facilement évolutif</u>.<br>
          Je me suis permis d'intégrer des fonctions "cachées" (non demandées dans les spécifications) pour démontrer
          l'évolutivité potentielle permise par mon design :<br>
          composants qui s'adaptent en cas d'ajout de séries, changement de types de graphes (double clic sur page
          principal).
        </p>
        <p>
          D'autres fonctionnalités cachées nécessitent la modif du code car on n'avait pas le droit sur ce projet de
          s'éloigner de la maquette pour la démo de soutenance ! (critère d'évaluation)
        </p>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 3 : Backend SpringBoot 3.4.1 JPA/MVC pour un frontend Angular v14 existant
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          <a href="https://github.com/cpierres/P3-back-spring" target="_blank">Dépôt git</a><br>
          <a href="/assets/pdf/P3-pres-16mn.pdf" target="_blank">Slide de soutenance (15 mn)</a>
        </p>
        <p>
          Le frontend existant se basait sur une simulation de l'API backend qui nous était fournie via l'outil Mockoon.<br>
          Le projet backend P3 consistait donc à implémenter l'API backend en utilisant SpringBoot et Spring Data
          JPA/MVC.<br>
          J'ai trouvé intéressant la facilité de mise en oeuvre et la productivité mais j'ai aussi constaté qu'on
          restait dans les paradigmes bloquant de JEE.<br>
          J'ai bien apprécié la sécurité JWT et la vue globale des architectures de sécurité.<br>
          Bien entendu, toutes les bonnes pratiques et bons outils ont été employées : SOLID, lombok, mapstruct, doc
          swagger, docker, etc...<br>
          J'ai aussi utilisé cloudinary pour les fichiers multi-média.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 4 : Mise en place d'un site public de veille technologique concernant les types d'architectures, ainsi
          que Angular et Spring.
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          La préconisation était de se reposer sur un outil existant tel que Wordpress ou encore des blogs.<br>
          En tant que professionnel du développement, j'ai trouvé plus opportun et efficace de créer mon propre site
          avec Angular 19. <u>C'est le site que vous êtes en train de regarder</u> !<br>
          Mon idée est de m'en servir plus tard lors d'échanges avec les clients. Je voulais maitriser complétement la
          présentation et qu'elle soit sobre.<br>
          Cela m'a permis d'utiliser librement des composants Angular Materials.<br>
          <br>
          A signaler aussi que j'ai intégré des <b>flux RSS</b> pour les fils d'actualité sur des sites d'intérêts.<br>
          Le fait de créer mon propre site m'a permis d'organiser facilement mes idées et mes liens, sans avoir à
          bidouiller dans un outil tierce.<br>
          D'après mon mentor et mon évaluateur de soutenance, je suis le premier "étudiant" à avoir réalisé un site
          complet pour ce projet !
        </p>
        <p>
          J'ai continué à enrichir ce site lors des projets suivants !
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 5 : Testing complet d'un frontend et d'un backend existant
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          Les technologies utilisées et rapports de couverture de tests sont présentés dans le <a
          href="https://github.com/cpierres/P5-Test-full-stack" target="_blank">README du dépôt github</a><br>
          Vous y trouverez bien sûr toutes les indications pour exécuter les tests.<br>
          <a href="/assets/pdf/P5-pres-15mn.pdf" target="_blank">Slide de soutenance (15 mn)</a>
        </p>
        <p>
          Les techniques de testing étaient un sujet que je connaissais déjà.<br>
          J'ai trouvé qu'Angular et Spring permettent une mise en oeuvre absolument <b>excellente</b> en intégrant
          les besoins de testing au coeur de leur architecture !<br>
          et ça change tout !
        <p>
        <p>
          L'objectif était le testing complet sur une application fullstack existante :</p>
        <ul>
          <li>tests unitaires</li>
          <li>tests d'intégration</li>
          <li>tests end-to-end avec Cypress</li>
        </ul>
        <p>
          avec un taux de couverture d'au moins 80% sur les deux couches.
        </p>
        <p>
          Accessoirement, le fait de devoir effectuer les tests sur cet existant m'a permis de découvrir en profondeur
          des techniques intéressantes côté backend et frontend.<br>
          J'ai trouvé la démarche intéressante au niveau pédagogique de la part d'OpenClassrooms.
        </p>
        <p>
          Je pense aussi qu'un développeur peut produire de bien meilleurs tests qu'une personne uniquement spécialisée
          sur les tests !<br>
          L'idéal étant de faire les tests au moment de la conception du programme en TDD (Test Driven Development)
          parce que les faire
          après le développement c'est un peu fastidieux !
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 6 : Développement full-stack (Backend : SpringBoot 3.4.4 avec Spring WebFlux et R2DBC/Postgresql |
          Frontend : Angular 19.2.5)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          Cela devait être un développement full-stack ... et je l'ai fait en plus <b>full-réactive</b> : de la base de
          données, au backend et bien sûr jusqu'au frontend.<br>
          Lire le <a href="/assets/pdf/P6-choix-tech-archi-mvp.pdf" target="_blank">Dossier de choix
          techniques et d'architecture</a> afin de comprendre rapidement l'intérêt des choix technologiques.<br>
          Dans le <a href="https://github.com/cpierres/p6mdd" target="_blank">Dépôt git</a>, le README vous indiquera
          des scénarios d'utilisation (et les bonnes pratiques appliquées).<br>
          Cette <a href="https://mdd.cpierres.dscloud.me/" target="_blank">application</a> est un MVP (Minimum Viable
          Product) tenu de respecter des <a
          href="https://www.figma.com/design/Rflr3TVBog35BNMnn0DF09/Maquettes-MDD--desktop-et-mobile-?node-id=0-1&p=f"
          target="_blank">
          maquettes précises responsives (mobile/desktop)</a>.<br>
          Les fonctionnalités sont limitées mais elle suffisent à définir une architecture top niveau.<br>
          La <a href="http://apimdd.cpierres.dscloud.me:8068/swagger-ui/" target="_blank">documentation Swagger est
          disponible</a>.
        </p>
        <p>
          C'est le projet qui m'a motivé le plus car le besoin étant un réseau social pour les développeurs, cela
          suppose :
        </p>
        <ul>
          <li>une très forte capacité de montée en charge</li>
          <li>être capable de gérer potentiellement tous les canaux de communication modernes, tels que des dialogues
            vidéos entre développeurs par exemple
          </li>
          <li>pourquoi pas, télécharger des grosses vidéos et de les diffuser en streaming, sans scotcher les threads
            ...
          </li>
          <li>de réaliser facilement des chats en temps réel.</li>
        </ul>
        <p>
          C'est d'ailleurs ce que j'ai fait dans ce projet puisque les ajouts d'articles et commentaires étant vus par
          tous les utilisateurs en temps réel, on peut se servir des commentaires comme d'un chat entre tous les
          utilisateurs !
        </p>
        <p>
        <p>
          J'allais donc pouvoir mettre en oeuvre Spring WebFlux ainsi qu'une base de données au standard R2DBC, tous
          basés sur des paradigmes non bloquants.<br>
          <strong>D'après mon mentor et mon évaluateur de soutenance, je suis encore une fois le premier "étudiant" à
            leur connaissance
            à avoir mis en oeuvre ces technologies avancées !</strong>
        </p>
        <p>
          Bien entendu, il était impératif de respecter strictement les maquettes (critère d'évaluation).<br>
          J'ai néanmoins proposé d'ajouter certains éléments pour mieux démontrer les avantages de l'architecture
          choisie (statistiques de popularité en temps réel par exemple).<br>
          J'ai respecté les spécifications fonctionnelles tout en offrant de la souplesse grâce à des capacités de
          filtrages et de tris (pour faciliter la démo de certains scénarios).<br>
          Le temps réel n'est certes pas une nouveauté puisqu'on sait déjà le faire depuis longtemps avec des Websockets
          en bidirectionnel (ou d'une manière moins élégante avec du polling).<br>
          L'aspect intéressant désormais est qu'on peut le faire avec des SSE (Server Side Events), un canal
          unidirectionnel qui, associé à Spring WebFlux autorise la montée en charge !<br>
          Par ailleurs, Angular lui-même a beaucoup travaillé l'aspect performance grâce aux "Signal" (signaux ...)
          lesquels permettent de cibler d'une manière précise les éléments à mettre à jour dans l'arbre des
          composants.<br>
        </p>
        <p>
          J'ai donc mis en oeuvre les dernières technologies disponibles pour Angular et Spring, sachant qu'elles sont
          mûres pour de la production puisqu'elles existent depuis un certains temps :
        </p>
        <ul>
          <li>Spring Webflux a été introduit avec <strong>Spring Framework 5.0</strong>, qui est sorti en <strong>septembre
            2017</strong>. Donc déjà 5 années de maturité !
          </li>
          <li>L'API Signal d'Angular a été introduite officiellement à partir de la version <strong>16</strong>
            d'Angular, publiée en <strong>mai 2023</strong>.
          </li>
        </ul>
        <p>
          En terme de complexité de développement avec WebFlux, il y a pas mal de similarités de concepts avec Spring
          Data JPA/MVC concernant :
        <p>
        <ul>
          <li>le principe de fonctionnement des controllers</li>
          <li>les repository de base</li>
          <li>et c'est bien entendu du Spring ...</li>
        </ul>
        <p>
          cependant, il faut savoir qu'il y a moins d'automatismes :
        </p>
        <ul>
          <li>pas de gestion déclarative/automatique des relations</li>
          <li>les repository réactifs sont uniquement mono-table</li>
        </ul>
        <p>
          Personnellement, cela ne me pose pas de problèmes et je dirais même au contraire !<br>
          Ainsi, on peut mettre en oeuvre librement ses connaissances Java et SQL pour des situations complexes.<br>
          Certes, on perd une certaine capacité à rendre le backend agnostique par rapport à la base de données, ce que
          permet JPA.<br>
          Mais une base comme Postgresql est très standard en terme de norme SQL.<br>
          Avoir la capacité de changer de base de données n'a pas vraiment d'intérêt à partir du moment où celle-ci est
          solide et gratuite.<br>
        </p>
        <p>
          Il faut prendre le temps de maitriser les fonctionnalités de gestion des flux de Reactor.<br>
          Ceci dit, Spring WebFlux automatise et simplifie beaucoup d'aspects de la programmation réactive
          (backpressure).<br>
          C'est une architecture particulièrement adaptée aux Micro-services pour absorber les latences potentielles et
          aussi synchroniser les résultats.<br>
        </p>
        <p>
          Il n'y a jamais de blocage au niveau de l'IHM, en cas d'attente, on informe avec un message mais on ne bloque
          rien et on ne monopolise pas des threads.
          On peut aussi facilement intégrer du messaging ou streaming Kafka.
        </p>
        <p>
          Les threads virtuels permettront certainement d'améliorer la capacité de montée en charge de Spring Data
          JPA/MVC
          mais cela demeurera du "paradigme bloquant optimisé".</p>
        <p>
          <strong>En 2025, je préconiserais vraiment l'architecture de Spring WebFlux associé à Angular 19 pour les
            développements modernes.</strong><br>
          J'espère me faire une spécialité pour migrer des développements JEE (de type Oracle ADF en particulier) vers
          cette architecture "full-stack ET full-réactive", nettement plus performante et résiliente que mes pratiques
          passées avec JEE.<br>
          Ou encore mieux : pas de migration mais un tout nouveau projet chez un éditeur de logiciels !
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 7 : Point d'étapes (projets passés et projet à venir)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          Projets passés commentés dans les sections ci-dessus.<br>
          J'ai trouvé la pédagogie bien amenée, de projet en projet.<br>
          Le projet P5-testing m'avait permis de découvrir certaines techniques dans le back et front existant.
        </p>
        <p>
          Projets à venir :
        </p>
        <p>
          Question posée : vous semblent-ils difficiles ?
        </p>
        <p>
          Réponse : je ne sous-estime pas le temps nécessaire.<br>
          Sur certains projets, je pense aller vite car ce sont des sujets que je connais (UML, Docker, Git, Github,
          Docker hub).<br>
          Mais je vais lire toutes les documentations requises !
          J'aurai une partie du mois de juin pour me préparer un peu.
        </p>
        <ul>
          <li>Projet 8 Audit et cahier des charges : en cours - facile (je maitrise bien UML)</li>
          <li>Projet 9 Cadrage : j'ai été également ingénieur commercial dans ma vie passée et je connais ces sujets.
            J'apprendrai certainement de nouvelles choses !
          </li>

          <li>Projet 10 Intégration et CI/CD (Maven, Jenkins, Docker) : j'ai déjà montré une bonne maitrise de maven et
            de Docker dans le projet 6 (ce n'était pas demandé mais c'est pour moi indispensable de l'avoir fait ; j'ai
            juste omis le passage du maven en jenkins - que je connais également).
            Les Github Actions son un sujet qui m'intéresse.
          </li>
          <li>Projet 11 Encadrer : j'ai été directeur d'un pôle de Business Intelligence de 15 personnes et team lead
            à plusieurs reprises. Je connais les pratiques Agile. Mais je vais certainement en apprendre davantage !
          </li>
          <li>Projet 12 Planification : sujets intéressants. Beaucoup de lecture !</li>
          <li>Projet 13 Proposition d'architecture et de solutions : j'ai déjà démontré ces capacités dans le projet 4
            et le projet 6. Les dossiers d'architecture comprennent déjà les demandes faites dans le projet 13.
          </li>
        </ul>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 8 : Audit et cahier des charges (Spéc. fonctionnelles et techniques)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 9 : Cadrage
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 10 : Intégration et CI/CD (Maven, Jenkins, Docker)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 11 : Encadrer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 12 : Planification
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Projet 13 : Proposition d'architecture et de solutions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conclusion
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p>
          La démarche d'OpenClassrooms est de réclamer une grande autonomie dans la recherche et développement pour
          aboutir aux différents objectifs.<br>
          Cela m'a parfaitement convenu puisque c'est ce que j'ai toujours fait.<br>
          Ma curiosité et ma volonté d'adopter les meilleures bonnes pratiques m'ont fait passer plus de temps sur les
          projets techniques par rapport aux projets non-techniques à venir qu'il me reste encore à faire.<br>
          L'essentiel pour moi est d'avoir atteint mes propres objectifs techniques.<br>
          Je me devais de retrouver un niveau d'expertise correspondant à mon niveau d'expérience, ce qui est chose
          faite.<br>
          les projets non-techniques à venir n'ont pas de complexité et je pense les réaliser très rapidement pour les
          terminer d'ici fin août.<br>
        </p>
        <p>
          Vous aurez noté que mes projets sont gérés avec Docker et Docker-compose.
          Le projet 6 a prévu un profil de déploiement pour la "prodlocal" et la "prodnas"
          Je les ai déployé sur un NAS Synology Linux pour rendre publiques en https via un reverse proxy.
        </p>
        <p>
          Ces projets pédagogiques m'ont permis :
        </p>
        <ul>
          <li>de maitriser les bonnes pratiques et de retrouver un niveau d'expertise sur les technologies les plus
            récentes,
          </li>
          <li>de mettre en ligne des projets consultables par des directions techniques afin de montrer mon
            savoir-faire.
          </li>
        </ul>
        <p>
          Par le passé, j'avais une obligation de confidentialité dans mes contrats de travail, ce qui m'interdisait de
          diffuser mon savoir faire sur internet.<br>
          Donc pour moi, ces petits projets suffisants et bien pensés en termes techniques, sont satisfaisants pour
          faire connaitre mon savoir-faire général et sur les dernières technologies.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
