<table mat-table [dataSource]="backTableData" class="mat-elevation-z8">

  <!-- Colonne : Possibilité -->
  <ng-container matColumnDef="possibilite">
    <th mat-header-cell *matHeaderCellDef> Possibilité </th>
    <td mat-cell *matCellDef="let element"> {{element.possibilite}} </td>
  </ng-container>

  <!-- Colonne : Description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Colonne : Avantages -->
  <ng-container matColumnDef="avantages">
    <th mat-header-cell *matHeaderCellDef> Avantages </th>
    <td mat-cell *matCellDef="let element"> {{element.avantages}} </td>
  </ng-container>

  <!-- Ligne d'en-tête -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Lignes de données -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<h3>Documentation Officielle</h3>
<ul>
  <li><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a></li>
  <li><a href="https://spring.io/projects/spring-data" target="_blank">Spring Data</a></li>
  <li><a href="https://docs.spring.io/spring-framework/reference/web/webflux.html" target="_blank">Spring Webflux</a></li>
  <li><a href="https://spring.io/projects/spring-security" target="_blank">Spring Security</a></li>
  <li><a href="https://spring.io/projects/spring-cloud" target="_blank">Spring Cloud</a></li>
</ul>
