services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: p4vt-prod-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: veilltech
      POSTGRES_USER: veilltech
      POSTGRES_PASSWORD: veilltech
    ports:
      - "5433:5432"  # optional to expose in production
    volumes:
      - p4vt_db_data_pg18:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U veilltech -d veilltech"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: cpierres/p4vt-ia-backend:${PROJECT_VERSION:-0.0.16-SNAPSHOT}
    container_name: p4vt-ia-backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/veilltech
      SPRING_DATASOURCE_USERNAME: veilltech
      SPRING_DATASOURCE_PASSWORD: veilltech
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      # Évite les erreurs "Cannot reserve ... bytes of direct buffer memory" pour des PDF volumineux
      JAVA_TOOL_OPTIONS: -XX:MaxDirectMemorySize=256m
      SPRING_PROFILES_ACTIVE: prod
      RAG_DATA_PATH: /app/rag-data/skills-data
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      #- /volume1/docker-volumes/p4vt-data/backend/rag:/app/rag-data
      # si test du déploiement en local
      - /mnt/c/docker-volumes/p4vt-data/backend/rag:/app/rag-data

  frontend:
    image: cpierres/p4vt-ia-frontend:${PROJECT_VERSION:-0.0.16-SNAPSHOT}
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: p4vt-ia-frontend
    depends_on:
      - backend
    ports:
      - "80:80"   # map to desired host port on your NAS (e.g., 9023:80)
    restart: unless-stopped

volumes:
  p4vt_db_data_pg18:
    driver: local
