<mat-card>
  <div class="references-container">
    <div class="category">
      <h3>Architecture Monolithique</h3>
      <ul>
        <li>
          <a href="https://martinfowler.com/bliki/MonolithFirst.html" target="_blank">
            Martin Fowler: Monolithic Architecture
          </a>
        </li>
      </ul>
    </div>

    <div class="category">
      <app-link-info [links]="sitesMicroServices" [title]="sitesMicroServicesTitle"/>
    </div>

    <div class="category">
      <h3>Architecture Hexagonale</h3>
      <ul>
        <li>
          <a href="https://alistair.cockburn.us/hexagonal-architecture/" target="_blank">
            Alistair Cockburn: Hexagonal Architecture
          </a>
        </li>
        <li>
          <a href="https://reflectoring.io/spring-hexagonal/" target="_blank">
            Reflectoring: Hexagonal Architecture in Practice
          </a>
        </li>
      </ul>
    </div>

    <div class="category">
      <app-link-info [links]="sitesEventDriven" [title]="sitesEventDrivenTitle"/>
    </div>

    <div class="category">
      <app-link-info [links]="sitesDockerKubernetes" [title]="sitesDockerKubernetesTitle"/>
    </div>
  </div>
</mat-card>
