<p>ui-libraries works!</p>
<h3>Comparatif des librairies de composants UI pour Angular</h3>
<table>
  <thead>
  <tr>
    <th>Librairie</th>
    <th>Caractéristiques</th>
    <th>Site Officiel</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Angular Material</td>
    <td>Composants fiables, régulièrement mis à jour, intégration native avec Angular.</td>
    <td><a href="https://material.angular.io/" target="_blank">Matériel Angular</a></td>
  </tr>
  <tr>
    <td>PrimeNG</td>
    <td>Riche en fonctionnalités, composants premium.</td>
    <td><a href="https://www.primefaces.org/primeng/" target="_blank">PrimeNG</a></td>
  </tr>
  </tbody>
</table>
