<h3>Comparatif des librairies de composants UI pour Angular</h3>
<mat-divider></mat-divider>
<table mat-table [dataSource]="libraries" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let lib"> {{ lib.name }} </td>
  </ng-container>

  <ng-container matColumnDef="advantages">
    <th mat-header-cell *matHeaderCellDef> Avantages </th>
    <td mat-cell *matCellDef="let lib"> {{ lib.advantages }} </td>
  </ng-container>

  <ng-container matColumnDef="disadvantages">
    <th mat-header-cell *matHeaderCellDef> Inconvénients </th>
    <td mat-cell *matCellDef="let lib"> {{ lib.disadvantages }} </td>
  </ng-container>

  <ng-container matColumnDef="features">
    <th mat-header-cell *matHeaderCellDef> Caractéristiques principales </th>
    <td mat-cell *matCellDef="let lib"> {{ lib.features }} </td>
  </ng-container>

  <ng-container matColumnDef="useCases">
    <th mat-header-cell *matHeaderCellDef> Cas d'utilisation </th>
    <td mat-cell *matCellDef="let lib"> {{ lib.useCases }} </td>
  </ng-container>

  <ng-container matColumnDef="links">
    <th mat-header-cell *matHeaderCellDef> Liens utiles </th>
    <td mat-cell *matCellDef="let lib">
      <a href="{{ lib.link }}" target="_blank">Lien Officiel</a>
      <ul>
        <li *ngFor="let source of lib.sources">
          <a href="{{ source }}" target="_blank">Source</a>
        </li>
      </ul>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
