<div class="home-page">
  <mat-tab-group>
    <mat-tab label="Objectifs">
      <mat-card>
        <p>
          Le but de cette plateforme est d'<b>accompagner les clients dans la lecture de leur dossier de choix
          techniques et d'architecture</b>.<br>
          Vous pourrez ainsi être éclairé sur les choix pressentis en fonction de vos besoins.<br>
          En exposant les solutions autour des <strong>Architectures</strong>, d'<strong>Angular</strong> et
          <strong>Spring</strong>, nous gagnons du temps. Cela vous offre une vue synthétique et l'opportunité
          d'en savoir plus.<br><br>
          <strong>Cliquez <u>sur votre projet</u> ci-dessous (<u>droit requis</u>) afin d'obtenir vos documents</strong> :
        </p>
        <div class="home-page">
          <mat-accordion class="custom-accordion">
            <!-- Panneau Projet P4 - Client Knesh -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Projet P4 - Client Knesh
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  Solutions adaptées au projet du client Knesh dans le cadre du projet 4 d'OpenClassrooms.
                </p>
                <p style="margin-bottom: 0">
                  Les <u>spécifications</u> de l'application ne sont <u>pas connues</u>.
                  Seules les <u>exigences techniques</u> suivantes ont été formulées :
                </p>
                <ul>
                  <li><strong>Disponibilité :</strong> Assurer un site performant et fiable.</li>
                  <li><strong>Rapidité :</strong> Minimiser les temps de chargement et offrir une UX agréable.</li>
                  <li><strong>Coûts :</strong> Réutiliser des solutions existantes.</li>
                  <li><strong>Évolutivité :</strong> S'appuyer sur des technologies solides et documentées.</li>
                </ul>
                <p>
                  Il s'agit de trouver le bon compromis pour y répondre, sachant que les spécifications fonctionnelles
                  ne sont pas connues et qu'il faudra de ce fait affiner avec l'expression des besoins du client.<br>
                  Dossier d'architecture provisoire de Knesh:
                  <a href="/assets/pdf/P4-DossierArchitectureKnesh.pdf" target="_blank">ici</a>.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Projet P6 - MDD (client Orion)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <a
                    href="https://www.figma.com/file/Rflr3TVBog35BNMnn0DF09/Maquettes-MDD-(desktop-et-mobile)?node-id=0%3A1"
                    target="_blank">Maquettes Figma (desktop et mobile) fournie par Orion pour MDD</a>
                </p>
                <p>
                  <a href="/assets/pdf/P6-choix-tech-archi-mvp.pdf" target="_blank">Téléchargez le dossier
                    d'architecture et de choix techniques MDD</a></p>
                <p>
                  MVP (Minimum Viable Product) de l'application MDD :<br>
                <ul>
                  <li><a href="https://mdd.cpierres.dscloud.me/" target="_blank">Application MVP</a></li>
                  <li><a href="https://github.com/cpierres/p6mdd" target="_blank">Dépôt Github</a></li>
                  <li><a href="http://apimdd.cpierres.dscloud.me:8068/swagger-ui/" target="_blank">Documentation swagger
                    de l'API</a></li>
                </ul>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Projet P8 - LiVrai (Audit existant et Cahier des charges)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <ul>
                  <li>
                    Audit de l'existant : <a href="/assets/pdf/P8-AuditExistant.pdf"
                                             target="_blank">ici</a>.
                  </li>
                  <li>
                    Cahier des charges : <a href="/assets/pdf/P8-CahierChargesLiVrai-V2.pdf"
                                            target="_blank">ici</a>
                  </li>
                </ul>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <mat-divider></mat-divider>
        <p style="margin-bottom: 0">
          Ainsi, vous trouverez dans les pages de ce site des <u>médailles d'Or</u> (nos préconisations) concernant :
        </p>
        <ul>
          <li>
            L'architecture
            <app-classement [classement]="'1'"/>
          </li>
          <li>
            Les éléments logiciel recommandés
            <app-classement [classement]="'1'"/>
          </li>
        </ul>
        <p style="margin-top: 0">Lorsqu'il y a plusieurs
          <app-classement [classement]="'1'"/>
          , c'est que les choix peuvent se combiner.<br>
          Parfois, une médaille d'argent
          <app-classement [classement]="'2'"/>
          est proposée, soit parce que la
          solution est une bonne alternative (meilleure adéquation au budget), soit parce qu'il s'agit d'une solution
          d'intérêt à envisager selon les besoins.
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Sites de référence pour les Architectures">
      <app-archi-veille></app-archi-veille>
    </mat-tab>
    <mat-tab label="Sites de veille pour Spring">
      <app-back-veille></app-back-veille>
    </mat-tab>
    <mat-tab label="Sites de veille pour Angular">
      <app-front-veille></app-front-veille>
    </mat-tab>
  </mat-tab-group>

  <nav>
    <a routerLink="/architecture">Architectures</a> |
    <a routerLink="/test-overview">Typologies de test</a> |
    <a routerLink="/back">Technologies pour le Back (Spring)</a> |
    <a routerLink="/front">Technologies pour le Front (Angular)</a> |
    <a routerLink="/about">About me !</a>
  </nav>
</div>

