/* Hauteur totale de l'application */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.app-container {
  height: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  margin: 20px;
}

.active {
  font-weight: bold;
  color: #1976d2;
}

mat-sidenav {
  width: 180px;
}

.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* Cercle pour la photo */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profile-photo:hover {
  transform: scale(1.1); /* Zoom léger au survol */
}

.user-toolbar {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
}

.user-info {
  text-align: center;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
  /*margin-top: 5px;*/
}

.user-cert {
  font-size: 10px;
  color: grey;
}

.user-contact {
  font-size: 10px;
  font-style: italic;
  /*margin-top: 5px;*/
}
