/* Hauteur totale de l'application */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.app-container {
  height: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  margin: 20px;
}

.active {
  font-weight: bold;
  color: #1976d2;
}

mat-sidenav {
  width: 180px;
}

.user-toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px; /* Ajustez la hauteur si nécessaire */
}

.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* Cercle parfait pour la photo */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profile-photo:hover {
  transform: scale(1.1); /* Zoom léger au survol */
}

