<mat-sidenav-container class="app-container">
  <!-- Menu latéral (sidenav) -->
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar color="primary" class="user-toolbar">
      <img
        [src]="profileImage"
        alt="Christophe Pierrès"
        class="profile-photo"
        matTooltip="Christophe Pierrès (clic !)"
        matTooltipPosition="below"
        (click)="toggleImage()" />
    </mat-toolbar>


    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Accueil</a>
      <a mat-list-item routerLink="/architecture" routerLinkActive="active">Architectures</a>
      <a mat-list-item routerLink="/test-overview" routerLinkActive="active">Typologies de test</a>
      <a mat-list-item routerLink="/back" routerLinkActive="active">Back (Spring)</a>
      <a mat-list-item routerLink="/front" routerLinkActive="active">Front (Angular)</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Veille Technologique</span>
    </mat-toolbar>
    <!-- Zone où sera affiché le contenu au changement de page -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
