<mat-sidenav-container class="app-container">
  <!-- Menu latéral (sidenav) -->
  <mat-sidenav #drawer mode="side" opened>
    <mat-toolbar color="primary" class="user-toolbar">
      <img
        [src]="profileImage"
        alt="Christophe Pierrès"
        class="profile-photo"
        [matTooltip]="tooltipMessage"
        matTooltipPosition="below"
        (mouseenter)="updateTooltipOnHover()"
        (mouseleave)="resetTooltip()"
        (click)="toggleImage()"/>
      <div class="user-info">
        <div class="user-name">Christophe Pierrès</div>
        <div class="user-cert">Certifié Java et JEE depuis 25 ans</div>
        <div class="user-contact">
          <a href="tel:+33781425406">+33 (0) 781 425 406</a>
        </div>
        <div class="user-contact">
          <a href="mailto:cpierres@hotmail.com">cpierres&#64;hotmail.com</a>
        </div>
      </div>

    </mat-toolbar>


    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Accueil</a>
      <a mat-list-item routerLink="/architecture" routerLinkActive="active">Architectures</a>
      <a mat-list-item routerLink="/test-overview" routerLinkActive="active">Typologies de test</a>
      <a mat-list-item routerLink="/back" routerLinkActive="active">Back (Spring)</a>
      <a mat-list-item routerLink="/front" routerLinkActive="active">Front (Angular)</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About me !</a>
      <a
        mat-list-item
        href="https://mdd.cpierres.dscloud.me/"
        matTooltip="Réseau social le Monde des Développeurs"
        target="_blank"
      rel="noopener noreferrer"
      >
      MDD-Discutons !
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Veille Technologique</span>
    </mat-toolbar>
    <!-- Zone où sera affiché le contenu au changement de page -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
