<mat-card>
  <h3>Comparatif des librairies de test</h3>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="testLibraries" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Nom</th>
      <td mat-cell *matCellDef="let library" class="centered-header">
        <a href="{{ library.link }}" target="_blank" title="Site officiel">{{ library.name }}</a>
        <br>
        <app-classement [classement]="library.choice"></app-classement>
      </td>
    </ng-container>


    <ng-container matColumnDef="useCases">
      <th mat-header-cell *matHeaderCellDef> Type de Test</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let useCase of library.useCases">{{ useCase }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="features">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Caractéristiques</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let item of library.features">{{ item }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="advantages">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Points forts</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let advantage of library.advantages">{{ advantage }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="disadvantages">
      <th mat-header-cell *matHeaderCellDef class="centered-header"> Points faibles</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let disadvantage of library.disadvantages">{{ disadvantage }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef class="centered-header" title="Autres avis comparatifs en bas du tableau">
        Références<br>(comparatifs bas du tableau)
      </th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li><a href="{{ library.references.github.repo }}" target="_blank"
                 title="{{library.references.github.title}}">GitHub</a>
            <span *ngIf="library.references.github.stars > 0">: {{ library.references.github.stars | number }}★</span>
          </li>
          <li *ngFor="let avis of library.references.siteAvis">
            <span *ngIf="avis.link.startsWith('#'); else externalLink" title="{{ avis.title }}">
              {{ avis.name }}
            </span>
            <ng-template #externalLink>
              <a href="{{ avis.link }}" target="_blank" rel="noopener noreferrer">{{ avis.name }}</a>
            </ng-template>
          </li>

        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-divider></mat-divider>
  <h3 id="autres-comparatifs">Autres comparatifs</h3>
  <mat-divider></mat-divider>

  <ul>
    <li *ngFor="let comparatif of comparatifsTest">
      <a href="{{ comparatif.link }}" target="_blank" title="{{ comparatif.title || comparatif.name }}">
        {{ comparatif.name }}
      </a>
    </li>
  </ul>

</mat-card>

