<mat-card>
  <h3>Comparatif des bibliothèques de test</h3>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="testLibraries" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let library">
        <a href="{{ library.link }}" target="_blank" title="Site officiel">{{ library.name }}</a>
        <span *ngIf="library.choice === '1'" class="gold-medal">🏅</span>
        <span *ngIf="library.choice === '2'" class="silver-medal">🥈</span>
        <span *ngIf="library.choice === '0'" class="no-choice">❌</span>

      </td>
    </ng-container>


    <ng-container matColumnDef="typeDeTest">
      <th mat-header-cell *matHeaderCellDef> Type de Test</th>
      <td mat-cell *matCellDef="let library"> {{ library.typeDeTest }}</td>
    </ng-container>

    <ng-container matColumnDef="caracteristiques">
      <th mat-header-cell *matHeaderCellDef> Caractéristiques</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let item of library.caracteristiques">{{ item }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="pointsForts">
      <th mat-header-cell *matHeaderCellDef> Points forts</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let point of library.pointsForts">{{ point }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="pointsFaibles">
      <th mat-header-cell *matHeaderCellDef> Points faibles</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li *ngFor="let point of library.pointsFaibles">{{ point }}</li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef> Références</th>
      <td mat-cell *matCellDef="let library">
        <ul>
          <li><a href="{{ library.references.github.repo }}" target="_blank"
                 title="{{library.references.github.title}}">GitHub</a>
            <span *ngIf="library.references.github.stars > 0">: {{ library.references.github.stars | number }}★</span>
          </li>
          <li *ngFor="let avis of library.references.siteAvis">
            <a href="{{ avis.link }}" target="_blank">{{ avis.name }}</a>
          </li>

        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

