<div class="home-page">
  <mat-tab-group>
    <mat-tab label="Objectifs">
      <mat-card>

        <p>Ceci est une plateforme pour explorer des solutions autour des <strong>Architectures</strong>, de <strong>Angular</strong> et
          <strong>Spring</strong> et fournir des points d'entrée pour la veille technologique.</p>
        <p>L'autre objectif est de déterminer les solutions adaptées aux projets clients.
          Cliquez sur votre projet ci-dessous afin d'obtenir votre document personnalisé :</p>
        <div class="home-page">
          <mat-accordion>
            <!-- Panneau Projet P4 - Client Knesh -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Projet P4 - Client Knesh
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  Solutions adaptées au projet du client Knesh dans le cadre du projet 4 d'OpenClassrooms.
                </p>
                <p style="margin-bottom: 0">
                  Les <u>spécifications</u> de l'application ne sont <u>pas connues</u>.
                  Seules les <u>exigences techniques</u> suivantes ont été formulées :
                </p>
                <ul>
                  <li><strong>Disponibilité :</strong> Assurer un site performant et fiable.</li>
                  <li><strong>Rapidité :</strong> Minimiser les temps de chargement et offrir une UX agréable.</li>
                  <li><strong>Coûts :</strong> Réutiliser des solutions existantes.</li>
                  <li><strong>Évolutivité :</strong> S'appuyer sur des technologies solides et documentées.</li>
                </ul>
                <p>
                  Il s'agit de trouver le bon compromis pour y répondre, sachant que les spécifications fonctionnelles ne sont
                  pas connues et qu'il faudra de ce fait affiner avec l'expression des besoins du client.<br>
                  Téléchargez le dossier d'architecture provisoire de Knesh:
                  <a href="/assets/pdf/DossierArchitectureKnesh.pdf" target="_blank">ici</a>.
                </p>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Projet P6 - MDD (client Orion)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>Téléchargez le dossier d'architecture pour MDD :
                  <a href="/assets/pdf/DossierArchitectureMDD.pdf" target="_blank">ici</a></p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <mat-divider></mat-divider>
        <p style="margin-bottom: 0">
          Ainsi, vous trouverez dans les pages de ce site des <u>médailles d'Or</u> (nos préconisations) pour Knesh concernant :
        </p>
        <ul>
          <li>
            L'architecture
            <app-classement [classement]="'1'"/>
          </li>
          <li>
            Les éléments logiciel recommandés
            <app-classement [classement]="'1'"/>
          </li>
        </ul>
        <p style="margin-top: 0">Lorsqu'il y a plusieurs <app-classement [classement]="'1'"/>, c'est que les choix peuvent se combiner.<br>
          Parfois, une médaille d'argent <app-classement [classement]="'2'"/> est proposée, soit parce que la
          solution est une bonne alternative (meilleure adéquation au budget), soit parce qu'il s'agit d'une solution
          d'intérêt à envisager selon les besoins.
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Sites de référence pour les Architectures">
      <app-archi-veille></app-archi-veille>
    </mat-tab>
    <mat-tab label="Sites de veille pour Spring">
      <app-back-veille></app-back-veille>
    </mat-tab>
    <mat-tab label="Sites de veille pour Angular">
      <app-front-veille></app-front-veille>
    </mat-tab>
  </mat-tab-group>

  <nav>
    <a routerLink="/architecture">Architectures</a> |
    <a routerLink="/test-overview">Typologies de test</a> |
    <a routerLink="/back">Technologies pour le Back (Spring)</a> |
    <a routerLink="/front">Technologies pour le Front (Angular)</a>
  </nav>
</div>

