<p>Dans un développement moderne réactif, les paradigmes suivants doivent être utilisés :</p>
<ol>
  <li>
    <a href="https://fr.wikipedia.org/wiki/Programmation_orient%C3%A9e_objet" target="_blank" rel="noopener noreferrer">
      Programmation orientée objet
    </a>
  </li>
  <li>
    <a href="https://fr.wikipedia.org/wiki/Programmation_fonctionnelle" target="_blank" rel="noopener noreferrer">
      Programmation fonctionnelle
    </a>
  </li>
  <li>
    <a href="https://fr.wikipedia.org/wiki/Programmation_r%C3%A9active" target="_blank" rel="noopener noreferrer">
      Programmation réactive
    </a>
  </li>
</ol>

<p>
  La
  <a href="https://fr.wikipedia.org/wiki/Programmation_imp%C3%A9rative" target="_blank" rel="noopener noreferrer">
    programmation impérative
  </a>
  ne doit pas être utilisée.
</p>


