<div class="home-page">
  <mat-tab-group>
    <mat-tab label="Qui suis-je ?">
      <mat-card>
        <div class="presentation-container">
          <!-- Présentation section -->
          <mat-card class="content-card">
            <mat-card-content>
              <h2 class="section-title">Présentation</h2>
              <div class="content-section">
                <p>
                  Fort de <strong>25 ans d'expérience</strong> en tant que <strong>certifié Java, JEE et JSF</strong>,
                  j'ai également obtenu des certifications dans divers domaines (réseau CCNA1, Oracle ADF, anglais…).
                </p>
                <p>
                  Ma maîtrise approfondie de <strong>JEE</strong> me permet d'en comprendre les <strong>forces</strong>
                  et d'anticiper ses <strong>limitations</strong>, comme celles liées aux threads
                  bloquants lors des fortes montées en charge par exemple.
                </p>

                <div class="highlight-text">
                  Depuis 2008, j'ai occupé des <strong>postes stratégiques en architecture et R&D</strong>, où j'étais
                  chargé de mettre en place des <strong>bonnes pratiques</strong>, de superviser des équipes (<em>team
                  lead</em>) et de concevoir des <strong>frameworks personnalisés</strong> sur JEE (notamment sur Oracle ADF).
                </div>

                <p>
                  Avec le temps, j'ai constaté que l'éco-système JEE devenait moins dynamique et moins performant que celui de
                  Spring et Angular.<br>
                  C'est pourquoi, j'ai souhaité réaliser un virage technologique en consacrant une année entière en R&D pour
                  atteindre un niveau d'expertise similaire à celui que j'ai en JEE.
                </p>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Virage technologique section -->
          <mat-card class="content-card">
            <mat-card-content>
              <h2 class="section-title">Virage technologique et montée en compétences</h2>
              <div class="two-column-layout">
                <div class="column">
                  <div class="content-section">
                    <p>
                      En 2024, j'ai saisi une opportunité pour opérer ce <strong>virage technologique</strong>
                      vers des solutions modernes comme <strong>Spring</strong> et <strong>Angular</strong>.
                    </p>
                    <p>
                      Grâce à des formations ciblées sur <strong>Udemy</strong> (onglet <b>Formations UDEMY</b> ci-dessus) et à
                      une
                      <a href="https://openclassrooms.com/fr/paths/533-developpeur-full-stack-java-et-angular"
                         target="_blank">formation certifiante niveau 7 (BAC+5)</a> chez <strong>OpenClassrooms</strong>,
                      j'ai pu développer des compétences à travers la réalisation de <strong>12 projets</strong>.
                      Voir l'onglet <b>Projets Openclassrooms</b> ci-dessus.
                    </p>
                    <p>
                      Ces projets me permettent de démontrer les compétences suivantes dans cet éco-système :
                    </p>
                    <div>
                      <span class="skill-tag">Spring</span>
                      <span class="skill-tag">Angular</span>
                      <span class="skill-tag">Maven</span>
                      <span class="skill-tag">Docker</span>
                      <span class="skill-tag">UML</span>
                      <span class="skill-tag">Méthodologie Agile</span>
                      <span class="skill-tag">Kafka</span>
                      <span class="skill-tag">Méthodologie Agile</span>
                      <span class="skill-tag">CI-CD (Github actions)</span>
                      <span class="skill-tag">Architecture (dimension nationale et internationale)</span>
                      <span class="skill-tag">Cadrage</span>
                    </div>
                    <p>
                      Tous mes projets sont publics sur <u>Github</u>, vous permettant d'évaluer mes compétences techniques et la
                      qualité de mon code et de mes livrables. Les points clés de chaque projet sont présentés dans le README.md
                      de chacun des projets.
                    </p>
                    <p>
                      <strong>Plus d'informations sur la formation certifiante ici : </strong>
                      <a href="https://www.francecompetences.fr/recherche/rncp/36912/" target="_blank">France Compétences</a>.
                    </p>
                  </div>
                </div>
                <div class="column">
                  <div class="image-container">
                    <img src="/assets/img/jetsurf-virage.png" class="feature-image" alt="Virage technologique"
                         height="286" width="344"/>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Vision et Objectifs section -->
          <mat-card class="content-card">
            <mat-card-content>
              <h2 class="section-title">Vision et Objectifs</h2>
              <div class="two-column-layout">
                <div class="column">
                  <div class="image-container">
                    <img src="/assets/img/jetsurf-virage2.png" class="feature-image" alt="Objectifs et vision"
                         height="344" width="332"/>
                  </div>
                </div>
                <div class="column">
                  <div class="content-section">
                    <p>
                      Mon ambition ne se limite pas à une simple mise à jour de compétences.
                    </p>
                    <div class="highlight-text">
                      <p><strong>Mon objectif est clair :</strong></p>
                      <ul>
                        <li><strong>Aller au-delà des paradigmes classiques</strong> en adoptant les architectures les plus
                          modernes comme <strong>Spring Webflux</strong> (mis en oeuvre dans mon projet P6).
                        </li>
                        <li><strong>Offrir des solutions hautement performantes</strong>, adaptées aux besoins actuels
                          en termes de montée en charge et d'expérience utilisateur.
                        </li>
                      </ul>
                    </div>
                    <p>
                      J'ai également dépassé les attentes dans mes projets <strong>OpenClassrooms</strong>, en
                      approfondissant des sujets avancés et novateurs, bien au-delà des exigences du cursus.
                    </p>
                    <p>
                      Je m'appuie sur des technologies modernes pour tirer parti des nouvelles opportunités offertes par
                      un environnement en évolution permanente.
                    </p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Conclusion section -->
          <div class="conclusion-section">
            <h2 class="section-title">Conclusion</h2>
            <p>
              Que vous soyez curieux d'explorer mes <strong>projets OpenClassrooms</strong> ou de mieux comprendre mon
              <strong>parcours technique</strong>, je vous invite à naviguer à travers ce site de veille technologique.
            </p>
            <p>
              Le site sur lequel vous êtes actuellement est d'ailleurs une de mes créations (projet P4 OpenClassrooms).
            </p>
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Projets Openclassrooms">
      <app-projets-ocr></app-projets-ocr>
    </mat-tab>
    <mat-tab label="Formations UDEMY">
      <app-udemy></app-udemy>
    </mat-tab>
    <mat-tab label="Formations/certif en présentiel">
      <app-training></app-training>
    </mat-tab>
  </mat-tab-group>

  <nav>
    <a routerLink="/architecture">Architectures</a> |
    <a routerLink="/test-overview">Typologies de test</a> |
    <a routerLink="/back">Technologies pour le Back (Spring)</a> |
    <a routerLink="/front">Technologies pour le Front (Angular)</a> |
    <a routerLink="/about">About me !</a>
  </nav>
</div>
